@font-face {
    font-family: 'SEGA LOGO FONT';
    font-style: normal;
    font-weight: normal;
    src: local('SEGA LOGO FONT'), url('SEGA.woff') format('woff');
}

@font-face {
    font-family: 'Robotaur';
    font-style: normal;
    font-weight: normal;
    src: local('Robotaur'), url('robotaur.woff') format('woff');
}



h1 {
    font-family: 'SEGA LOGO FONT';
    font-size: 300;
    font-weight: 400;
    color: #2bc5c0;
}